/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Hubballi', sans-serif;
    font-weight: 600;
}

.navbar-brand {
    font-family: 'Inspiration', sans-serif;
    font-size: 45px;
    color: #B28649;
}

.navbar {
    background-color: #4897B1;
}

.nav-link {
    color: #B28649;
    font-family: 'Hubballi', sans-serif;
}

/* Footer CSS */

.social-links i {
    font-size: 40px;
    padding: 7px;
    text-decoration: none;
    color: #B28649;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: #4897B1;
}

footer p {
    margin-top: 15px;
}

.social-links i:hover {
    color: #98733E;
}

